<?xml version="1.0"?>
<configuration>
  <appSettings>
    <!-- 自動アップデートを無効にする時は value="" とする -->
    <!--<add key="LatestProgramFolder" value=""/>-->
    <add key="LatestProgramFolder" value="\\appserver\release\COMMON\Program Files.win7\ccMushroom"/>
    <add key="UrlMailToDeveloper" value="http://appserver/bubbles/MailToDeveloper.aspx?subject=(´∀`)べーた"/>
    <add key="RemoteProgramsFolder" value="\\appserver\release\ccMushroom\Default Programs.debug"/>
    <add key="LocalProgramsFolder" value="\PFILE\COMMON\ccMushroom\Default Programs.debug"/>
    <add key="EnabledProgramsFolder" value="true"/>
    <add key="ScanRemoteProgramsFolder" value="true"/>
    <add key="RemoveNoUseLocalProgramsFolder" value="false"/>
    <add key="AlwaysInTasktray" value="true"/>
    <add key="MultiLineTab" value="false"/>
    <add key="ImportTabAppearFirst" value="true"/>
    <add key="HideTabPageText" value="@ABNORMAL"/>
    <add key="AutoWindowCloseTime" value="0"/>
    <add key="ShortcutMngApplyTime" value="3"/>
    <add key="AutoOpacityTimePercent" value="600,70"/>
    <add key="TransparentWithClickThrough" value="true"/>
    <add key="TextEditor" value="%windir%\system32\notepad.exe"/>
    <add key="MovableButton" value="true"/>
    <add key="IntegrateExplorerContext" value="true"/>
    <add key="SmallApplicationIcon" value="false"/>
    <add key="ButtonSize" value="190,34"/>
    <!--<add key="ButtonFont" value="Name:MS UI Gothic,Size:9,Style:Regular,Color:Black"/>-->
    <!--<add key="ButtonFont" value="Name:メイリオ,Size:11.25,Style:Regular,Color:Silver"/>-->
    <add key="ButtonFont" value="Name:メイリオ,Size:11.25,Style:Regular,Color:Black"/>
    <!--<add key="ButtonBackColor" value="ffffffff"/>-->
    <add key="ButtonBackColor" value="fffffff8"/>
    <!--<add key="HotKey" value="Ctrl+Shift+C"/>-->
    <add key="HotKey" value="Win+C"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
  <runtime>
    <!-- enables legacy CAS policy for this process -->
    <NetFx40_LegacySecurityPolicy enabled="true"/>
  </runtime>
</configuration>
